html, body {
    height: 99%;
}

body {
    font-size: 0.75em;
}
.col {
    max-width: 45%;
}

section {
    margin-left: 5px;
    margin-right: 5px;
}

.f-list {
    margin-bottom: 11px;
    margin-top: 11px;
}

.f-skills {
    margin-bottom: 0px;
}
