body {
	font-family: 'Verdana', sans-serif;
	color: #171717;
	margin: 0;
	background-color: #263248;
	font-size: 12pt;
}

nav {
	text-align: center;
}

nav	li{
	display: inline;
	text-align: center;
	
}

ul {
	padding: 0;
}

h1 {
	font-size: 18pt;
	font-weight: normal;
}

h2 {
	font-size: 14pt;
	font-weight: normal;
}

li {
	margin-left: 40pt;
	font-size: 12pt;
}

nav li {
	margin: 0;
}

nav li a{
	transition: background-color 0.25s;
	/*background-color: #7E8AA2;*/
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 2px;
	transition: color 0.25s;
}
nav li a:hover{
	transition: all 0.25s;
	/*background-color: #FF9800;*/
	border-bottom: 5px solid #FF9800;
}

a {
	text-decoration: none;
	color: #1695A3;
}

a:hover{
	color: #FF9800;
}

#footer {
	text-align: center;
	position: fixed;
	bottom: 2%;
	right: 50%;
}

#main {
	padding: 4%;
	margin: 2%;
	background-color: #FFFFFF;
	border-radius: 2px;
}

#pp {
	position: relative;
	text-align: center;
	border-radius: 20px;
}

#cover {
	padding-top: 2%;
	padding-bottom: 5%;
	padding-left: 2%;
	font-weight: bold;
	color: white;
}