body {
	font-family: 'Verdana', sans-serif;
	color: #171717;
	margin: 0;
	background-image: url("pics/background.jpg")
}

nav {
	text-align: center;
}

nav	li{
	display: inline;
	text-align: center;
	
}

ul {
	padding: 0;
}

nav li a{
	transition: background-color 0.5s;
	background-color: rgb(255, 152, 0);
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-top: 1%;
	padding-bottom: 1%;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 5px;
}
nav li a:hover{
	transition: background-color 0.5s;
	background-color: #E65100;
}

a {
	text-decoration: none;
	color: #E65100;
}

#footer {
	text-align: center;
	position: fixed;
	bottom: 2%;
	right: 50%;
}

#main {
	padding: 4%;
	margin: 2%;
	background-color: #FFF3E0;
	border-radius: 5px;
}

#pp {
	position: relative;
	text-align: center;
	border-radius: 20px;
}

#cover {
	padding-top: 2%;
	padding-bottom: 5%;
	padding-left: 2%;
	font-weight: bold;
	color: white;
}