{% for info in site.data.infos %}
    <h1 class="id-name">{{ info.name }}</h1>
    <h2 class="id-status">{{ info.status }}</h2>
    <p class="id-intro">{{ info.intro }}</p>
    <div class="id-contacts">
        <table>
            <td class="id-mail"><img class="logo" src="img/mail.svg"/><a href="mailto:{{ info.mail }}">{{ info.mail }}</a></td>
            <td class="id-phone"><img class="logo" src="img/phone.svg"/>{{ info.phone }}</td>
            <td class="id-github"><img class="logo" src="img/github.svg"/><a href="https://github.com/{{ info.github }}" target="_blank">{{ info.github }}</a></td>
        </table>
    </div>
{% endfor %}
